*
    margin 0px
    padding 0px
li
    list-style-type none

.wancho
    max-width 1200px
    margin auto
//colores

azul = #3B5998


//fuente
lato = 'Lato', sans-serif;

input
    border 1px solid azul
    border-radius 5px
    height 26px
button
    color white
    background azul
    border none
    font-size 17px
    padding 4px 12px
    margin-left 5px
    border-radius 5px

header
    background azul
    padding 10px 0px
    font-size 32px
    .titulo-principal
        color white
        font-size 1em
        font-family lato


.cnt-publicaciones
    margin-top 40px
    .publicaciones
        article
            display inline-block
            vertical-align top
        .tipo-publicaciones
            width 30%
            ul
                li
                    font-size 20px
                    font-family lato

        .publicacion
            width 65%
            #buscar
                margin-bottom 20px
            .item
                margin-bottom 20px
                figure
                    display inline-block
                    vertical-align top
                    width 120px
                    img
                        display block
                .cnt-texto
                    display inline-block
                    max-width 500px
                    vertical-align top
                    margin-left 20px

